body { padding-top: 70px; }

.content {
    width: 90%;
    margin: 30px auto 30px;
}

.post-title{
    text-align: center;
    margin: 20px;
    color:#444;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.post-content{
    background: white;
    padding: 20px 50px;
    font-size: 1.1em;
    border-radius: 5px;
  }


/* Text bar*/
.text-input{
    width:45%;
}
/*END Text bar*/

/*table styling*/
.table2, .table2 th,.table2 td {
    width: 60%;
    height: 40px;
    font-size: 14px;
    border:1px solid black;
    padding: 20px;
    text-align: left;
}

.table2 th{
    background: #444;
    color:white;
}
.table2position{
    width: 100%;
    margin: 30px auto 30px;
    padding:0px 20px 20px 400px;
    /* border: 1px solid red; */
}

th,
td {
    
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}
/*end table styling*/

/*button styling*/
.btn {
    padding: .5rem 1rem;
    background: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.08em;
    font-family: 'Lora', serif;
}
  
.btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
  }
  
  .btn:hover {
    color: white !important;
    background: #005255;
  }
/*end button styling*/
